<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>메모 등록</title>
  <style>
    input, textarea {
      min-height: 50px;
    }
    .container {
      display: flex;
      justify-content: center;
      height: 100vh;
    }

    .addForm {
      display: flex;
      flex-direction: column;
      width: 80%;
      max-width: 600px;
      margin: 100px 0px;
    }
    .mainInput {
      resize: none;
      height: 50%;
      margin: 25px 0px 50px 0px;
    }
  </style>
</head>

<body>
  <div class="container">
    <form class="addForm">
      <input placeholder="제목 입력">
      <textarea class="mainInput" placeholder="본문 입력" ></textarea>
      <div>
        <button>등록</button>
      </div>
    </form>
  </div>
</body>

</html>